<a href="https://colab.research.google.com/github/marques96/Logica-de-Programacao-2024-2/blob/main/Introdu%C3%A7%C3%A3o_L%C3%B3gica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = "Matheus"
idade = 25
altura = 1.72

print(f"O nome é: {nome}, sua idade é {idade}, sua altura é {altura}")

O nome é: Matheus, sua idade é 25, sua altura é 1.72

In [ ]:
print(type(idade)) #Exibe a class 'int'
print(type(nome))
print(type(altura))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x = int("42")
y = float("3.14")
z = str(42)
print(x, y, z)

42 3.14 42

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
print(f"Olá, {nome}! Você tem {idade} anos.")

Digite seu nome: Matheus
Digite sua idade: 27
Olá, Matheus! Você tem 27 anos.

In [ ]:
resultado1 = 10 + 2 * 3 #Saída: 16 #Multiplicação em primeiro
resultado2 = (10 + 2) * 3 #Saída 36 (parênteses alteram a ordem)
print(resultado1)
print(resultado2)

16
36

In [ ]:
a = 10
b = 0
resultado = a / b #Gera um erro ZeroDivisionError

ZeroDivisionError: division by zero

In [ ]:
idade = int(input("Digite sua idade: "))
meses = idade * 12
print(f"Você tem {meses} meses")

Digite sua idade: 27
Você tem 324 meses

In [ ]:
numero1 = int(input("Digite o primeiro valor: "))
numero2 = int(input("Digite o segundo valor: "))
soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print(f" 2Soma: {soma}\n Subtração: {subtracao}\n Multiplicação: {multiplicacao}\n Divisão: {divisao}")

Digite o primeiro valor: 25
Digite o segundo valor: 5
 Soma: 30
 Subtração: 20
 Multiplicação: 125
 Divisão: 5.0

In [ ]:
produto = float(input("Digite o preco do produto: "))
desconto = float(input("Digite o percentual de desconto: "))
valor = produto * (1 - (desconto)/100)
print(f"O valor com desconto é: {valor}")

Digite o preco do produto: 5
Digite o percentual de desconto: 5
O valor com desconto é: 4.75

In [ ]:
base = int(input("Informe a base do triângulo: "))
altura = int(input("Informe a altura do triângulo: "))
area = (base * altura)/2
print(f"A área do triâgulo é: {area}")

Informe a base do triângulo: 4
Informe a altura do triângulo: 8
A área do triâgulo é: 16.0

In [24]:
#Questao06
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))

if(idade >= 18 ):
    print(f"{nome} é maior de idade")
else:
    print(f"{nome} é menor de idade")

Digite seu nome: Matheus
Digite sua idade: 27
Matheus é maior de idade

In [ ]:
#Questao07
celsius = int(input("Informe a temperatura em Celsius: "))
F = (celsius * 9/5) + 32

print(f"A temperatura em Fahrenheit é: {F}")

Informe a temperatura em Celsius36
A temperatura em Fahrenheit é: 96.8

In [ ]:
#Questao08
numero = int(input("Digite um número: "))
antecessor = numero - 1
sucessor = numero + 1

print(f"Número: {numero}")
print(f"Antecessor: {antecessor}")
print(f"Sucessor: {sucessor}")

Digite um número: 5
Número: 5
Antecessor: 4
Sucessor: 6

In [8]:
#Questao09
texto = input("Digite um texto: ")
print(f"O tamanho de {texto} é {len(texto)} caracteres")

Digite um texto: Palindromo
O tamanho de Palindromo é 10 caracteres

In [9]:
#Questao10
nome = input("Digite seu nome: ")
idade = int(input("Informe sua idade: "))
salario = float(input("Informe seu salário: R$"))

print(f"Nome: {nome}")
print(f"Idade: {idade}")
print(f"Salário: R${salario}")

Digite seu nome: Matheus
Informe sua idade: 27
Informe seu salário: R$5000
Nome: Matheus
Idade: 27
Salário: R$5000.0

In [14]:
#Questao11
numero1 = int(input("Digite o primeiro valor: "))
numero2 = int(input("Digite o segundo valor: "))
soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print(f"Soma: {soma}")
print(f"Subtração: {subtracao}")
print(f"Multiplicação: {multiplicacao}")
print(f"Divisão: {divisao}")

Digite o primeiro valor: 5
Digite o segundo valor: 5
Soma: 10
Subtração: 0
Multiplicação: 25
Divisão: 1.0

In [17]:
#Questao12
nota1 = int(input("Informe a nota da av1: "))
nota2 = int(input("Informe a nota da av2: "))
nota3 = int(input("Informe a nota da av3: "))

media = (nota1 + nota2 + nota3)/3

if (media >=7):
  print(f"A média do aluno é {media}, está aprovado!")
else:
  print(f"A média do aluno é {media}, está reprovado!")

Informe a nota da av1: 7
Informe a nota da av2: 8
Informe a nota da av3: 7
A média do aluno é 7.333333333333333, está aprovado!

In [19]:
#Questao13
numero1 = int(input("Informe o primeiro número: "))
numero2 = int(input("Informe o segundo número: "))

quociente = numero1 // numero2
resto_divisao = numero1 % numero2

print(f"O quociente da divisão entre {numero1} e {numero2} é: {quociente}")
print(f"O resto da divisão entre {numero1} e {numero2} é: {resto_divisao}")

Informe o primeiro número: 10
Informe o segundo número: 8
O quociente da divisão entre 10 e 8 é: 1
O resto da divisão entre 10 e 8 é: 2

In [22]:
#Questao 14
metros = float(input("Defina quantos metros você quer converter: "))
centimetros = metros * 100
milimetros = metros * 1000

print(f"{metros} metros é equivalente a {centimetros} cm")
print(f"{metros} metros é equivalente a {milimetros} mm")

Defina quantos metros você quer converter: 240
240.0 metros é equivalente a 24000.0 cm
240.0 metros é equivalente a 240000.0 mm

In [23]:
#Questao 15
hora = int(input("Digite as horas trabalhadas: "))
valor_hora = float(input("Digite seu valor por hora: "))
salario = hora * valor_hora

print(f"Seu salário é: R${salario}")

Digite as horas trabalhadas: 160
Digite seu valor por hora: 20
Seu salário é: R$3200.0

In [31]:
#Questao16
numero = float(input("Informe um número: "))

dobro = numero * 2
triplo = numero * 3
raiz_quadrada = numero ** 0.5

print(f"O dobro de {numero} é: {dobro}")
print(f"O triplo de {numero} é: {triplo}")
print(f"A raiz quadrada de {numero} é: {raiz_quadrada}")

Informe um número: 16
O dobro de 16.0 é: 32.0
O triplo de 16.0 é: 48.0
A raiz quadrada de 16.0 é: 4.0

In [ ]:
#Questao17

deposito_bancario = float(input("Digite o valor para depósito: "))
juros = float(input("Digite o valor de juros anual: "))