<a href="https://colab.research.google.com/github/marques96/Logica-de-Programacao-2024-2/blob/main/introducao__logica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = "Matheus"
idade = 25
altura = 1.72

print(f"O nome é: {nome}, sua idade é {idade}, sua altura é {altura}")

O nome é: Matheus, sua idade é 25, sua altura é 1.72

In [ ]:
print(type(idade)) #Exibe a class 'int'
print(type(nome))
print(type(altura))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x = int("42")
y = float("3.14")
z = str(42)
print(x, y, z)

42 3.14 42

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
print(f"Olá, {nome}! Você tem {idade} anos.")

Digite seu nome: Matheus
Digite sua idade: 27
Olá, Matheus! Você tem 27 anos.

In [ ]:
resultado1 = 10 + 2 * 3 #Saída: 16 #Multiplicação em primeiro
resultado2 = (10 + 2) * 3 #Saída 36 (parênteses alteram a ordem)
print(resultado1)
print(resultado2)

16
36

In [ ]:
a = 10
b = 0
resultado = a / b #Gera um erro ZeroDivisionError

ZeroDivisionError: division by zero

In [ ]:
idade = int(input("Digite sua idade: "))
meses = idade * 12
print(f"Você tem {meses} meses")

Digite sua idade: 27
Você tem 324 meses

In [ ]:
numero1 = int(input("Digite o primeiro valor: "))
numero2 = int(input("Digite o segundo valor: "))
soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print(f" 2Soma: {soma}\n Subtração: {subtracao}\n Multiplicação: {multiplicacao}\n Divisão: {divisao}")

Digite o primeiro valor: 25
Digite o segundo valor: 5
 Soma: 30
 Subtração: 20
 Multiplicação: 125
 Divisão: 5.0

In [ ]:
produto = float(input("Digite o preco do produto: "))
desconto = float(input("Digite o percentual de desconto: "))
valor = produto * (1 - (desconto)/100)
print(f"O valor com desconto é: {valor}")

Digite o preco do produto: 5
Digite o percentual de desconto: 5
O valor com desconto é: 4.75

In [ ]:
base = int(input("Informe a base do triângulo: "))
altura = int(input("Informe a altura do triângulo: "))
area = (base * altura)/2
print(f"A área do triâgulo é: {area}")

Informe a base do triângulo: 4
Informe a altura do triângulo: 8
A área do triâgulo é: 16.0

In [ ]:
#Questao06
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))

if(idade >= 18 ):
    print("Maior de idade")
else:
    print("Menor de idade")

Digite seu nome: Matheus
Digite sua idade25
Maior de idade

In [ ]:
#Questao07
celsius = int(input("Informe a temperatura em Celsius: "))
F = (celsius * 9/5) + 32

print(f"A temperatura em Fahrenheit é: {F}")

Informe a temperatura em Celsius36
A temperatura em Fahrenheit é: 96.8

In [ ]:
#Questao08
numero = int(input("Digite um número: "))
antecessor = numero - 1
sucessor = numero + 1

print(f"Número: {numero}")
print(f"Antecessor: {antecessor}")
print(f"Sucessor: {sucessor}")

Digite um número: 5
Número: 5
Antecessor: 4
Sucessor: 6

In [ ]:
#Questao09
frase = ["Uva"]
quantidade = len(frase)
print(quantidade)

1